openapi: 3.0.1
info:
  title: Attualizzazione importi PU
  description: |-
    API che devono essere esposte da un ente creditore che vuole utilizzare
    la funzionalità di attualizzazione importi nativa di PU.
  version: 1.0.0
externalDocs:
  description: Find out more about Swagger
  url: https://swagger.io
servers:
  - url: https://www.enteintermediato.it/api
paths:
  /amount-update:
    post:
      summary: Ritorna a PU l'importo aggiornato.
      description: Ritorna a PU l'importo aggiornato, incluse le spese di notifica.
      operationId: actualization
      requestBody:
        description: Dati Pagamento
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Payment'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatedPayment'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
        default:
          description: Errore interno del server
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
security:
  - BearerAuth: []
    Agid-JWT-Signature: []
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
    Agid-JWT-Signature:
      type: apiKey
      in: header
      name: Agid-JWT-Signature
      description: |-
        JWS Token to enforce the integrity of the message.
        See [integrity_rest_02] on https://www.agid.gov.it/sites/agid/files/2024-07/Linee_guida_interoperabilit%C3%A0PA_All2_Pattern_sicurezza.pdf
  schemas:
    Payment:
      type: object
      required:
        - orgFiscalCode
        - nav
      properties:
        orgFiscalCode:
          type: string
          description: codice fiscale ente creditore che ha emesso l'avviso di pagamento
          minLength: 11
          maxLength: 11
          pattern: \d{11}
        nav:
          type: string
          description: numero avviso di pagamento
          minLength: 18
          maxLength: 18
          pattern: \d{18}
    UpdatedPayment:
      type: object
      required:
        - nav
        - amountCents
      properties:
        nav:
          type: string
          description: numero avviso di pagamento
          minLength: 18
          maxLength: 18
          pattern: \d{18}
        amountCents:
          type: integer
          format: int64
          description: importo aggiornato in eurocent, comprensivo delle spese di notifica, dell'avviso fornito dal chiamante
          minimum: 0
        iun:
          type: string
          description: Identificativo univoco notifica collegato all'avviso
        notificationFeeCents:
          type: integer
          format: int64
          description: spese di notifica in eurocent assegnate da PN alla notifica collegata al numero avviso fornito dal chiamante
          minimum: 0
        notificationDate:
          type: string
          format: date-time
          description: data della notifica
        balance:
          type: string
          description: |-
            Array JSON di oggetti contenenti i seguenti campi: capitolo, accertamento, ufficio, importo. Se la somma degli importi dei capitoli di bilancio non è coerente con l'importo complessivo del dovuto, o se la struttura di bilancio non è formalmente corretta IL PAGAMENTO VIENE BLOCCATO SU PU
        retentionDate:
          type: string
          format: date-time
          description: timestamp che indica la fine del periodo di ritenzione delle informazioni sul pagamento da parte di PU; se non passata, è usata la sysdate come default
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      required:
        - code
        - message
