openapi: 3.0.1
info:
  title: MyPay4 Operatore
  description: Sistema di gestione dei pagamenti
  version: '0.0'
servers:
  - url: http://mypay.regione.veneto.it/mypay4/apicittadino
    description: Generated server url
security:
  - myPay4Security: []
tags:
  - name: Enti
    description: Gestione degli enti beneficiari
  - name: Flussi
    description: Gestione dei flussi di pagamento e di rendicontazione
  - name: Dovuti
    description: Gestione dei dovuti da pagare
  - name: Pagamenti effettuati
    description: Gestione dei pagamenti effettuati
  - name: Avvisi
    description: Gestione avvisi di pagamento
paths:
  /operatore/dovuti/{mygovEnteId}/{mygovDovutoId}/askRT:
    post:
      tags:
        - Dovuti
      operationId: askRt
      parameters:
        - name: mygovEnteId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: mygovDovutoId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
  /operatore/dovuti/update/{mygovEnteId}/{mygovDovutoId}:
    post:
      tags:
        - Dovuti
      operationId: updateDovuto
      parameters:
        - name: mygovEnteId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: mygovDovutoId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DovutoOperatoreTo'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DovutoOperatoreTo'
  /operatore/dovuti/remove/{mygovEnteId}/{mygovDovutoId}:
    post:
      tags:
        - Dovuti
      operationId: removeDovutoForOperatore
      parameters:
        - name: mygovEnteId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: mygovDovutoId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
  /operatore/dovuti/insert/{mygovEnteId}:
    post:
      tags:
        - Dovuti
      operationId: insertDovuto
      parameters:
        - name: mygovEnteId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DovutoOperatoreTo'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DovutoOperatoreTo'
  /operatore/pagati/{mygovEnteId}/{mygovPagatoId}:
    get:
      tags:
        - Pagamenti effettuati
      operationId: detailPagatoForOperatore
      parameters:
        - name: mygovEnteId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: mygovPagatoId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DovutoOperatoreTo'
  /operatore/pagati/{mygovEnteId}/search:
    get:
      tags:
        - Pagamenti effettuati
      operationId: searchPagatoForOperatore
      parameters:
        - name: mygovEnteId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: from
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: to
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: codStato
          in: query
          required: false
          schema:
            type: string
        - name: myGovEnteTipoDovutoId
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: nomeFlusso
          in: query
          required: false
          schema:
            type: string
        - name: causale
          in: query
          required: false
          schema:
            type: string
        - name: codFiscale
          in: query
          required: false
          schema:
            type: string
        - name: iud
          in: query
          required: false
          schema:
            type: string
        - name: iuv
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DovutoOperatoreTo'
  /operatore/pagati/{id}/rt:
    get:
      tags:
        - Pagamenti effettuati
      operationId: downloadForOperatore
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
                format: binary
  /operatore/flussi/spc/R/{mygovEnteId}:
    get:
      tags:
        - Flussi
      operationId: flussiRendicontazione
      parameters:
        - name: mygovEnteId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: flgProdOrDisp
          in: query
          required: true
          schema:
            type: string
        - name: from
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: to
          in: query
          required: true
          schema:
            type: string
            format: date
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FileTo'
  /operatore/flussi/spc/Q/{mygovEnteId}:
    get:
      tags:
        - Flussi
      operationId: flussiQuadratura
      parameters:
        - name: mygovEnteId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: flgProdOrDisp
          in: query
          required: true
          schema:
            type: string
        - name: from
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: to
          in: query
          required: true
          schema:
            type: string
            format: date
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FileTo'
  /operatore/flussi/remove/{mygovEnteId}/{mygovFlussoId}:
    get:
      tags:
        - Flussi
      operationId: flussiRemove
      parameters:
        - name: mygovEnteId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: mygovFlussoId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: integer
                format: int32
  /operatore/flussi/import/{mygovEnteId}:
    get:
      tags:
        - Flussi
      operationId: flussiImport
      parameters:
        - name: mygovEnteId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: nomeFlusso
          in: query
          required: false
          schema:
            type: string
        - name: from
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: to
          in: query
          required: true
          schema:
            type: string
            format: date
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FlussoImportTo'
  /operatore/flussi/import/{mygovEnteId}/log:
    get:
      tags:
        - Flussi
      operationId: downloadLog
      parameters:
        - name: mygovEnteId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: fileName
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
                format: binary
  /operatore/flussi/export/{mygovEnteId}:
    get:
      tags:
        - Flussi
      operationId: flussiExport
      parameters:
        - name: mygovEnteId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: nomeFlusso
          in: query
          required: false
          schema:
            type: string
        - name: from
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: to
          in: query
          required: true
          schema:
            type: string
            format: date
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FileTo'
  /operatore/flussi/export/insert/{mygovEnteId}:
    get:
      tags:
        - Flussi
      operationId: flussiExportInsert
      parameters:
        - name: mygovEnteId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: tipoDovuto
          in: query
          required: false
          schema:
            type: string
        - name: versioneTracciato
          in: query
          required: true
          schema:
            type: string
        - name: from
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: to
          in: query
          required: true
          schema:
            type: string
            format: date
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: integer
                format: int64
  /operatore/flussi/byEnteId/{mygovEnteId}:
    get:
      tags:
        - Flussi
      operationId: getByEnte
      parameters:
        - name: mygovEnteId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FlussoTo'
  /operatore/enti:
    get:
      tags:
        - Enti
      operationId: getEntiByOperatore
      parameters:
        - name: logoMode
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EnteTo'
  /operatore/enti/{id}/tipiDovutoOperatore:
    get:
      tags:
        - Enti
      operationId: getByMygovEnteIdAndOperatoreUsername
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: enteSecondario
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EnteTipoDovutoTo'
  /operatore/enti/extended:
    get:
      tags:
        - Enti
      operationId: getEnteExtendedByOperatore
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EnteExtedendTo'
  /operatore/dovuti/{mygovEnteId}/{mygovDovutoId}:
    get:
      tags:
        - Dovuti
      operationId: detailDovutoForOperatore
      parameters:
        - name: mygovEnteId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: mygovDovutoId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DovutoOperatoreTo'
  /operatore/dovuti/{mygovEnteId}/search:
    get:
      tags:
        - Dovuti
      operationId: searchDovutoForOperatore
      parameters:
        - name: mygovEnteId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: from
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: to
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: codStato
          in: query
          required: false
          schema:
            type: string
        - name: myGovEnteTipoDovutoId
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: nomeFlusso
          in: query
          required: false
          schema:
            type: string
        - name: causale
          in: query
          required: false
          schema:
            type: string
        - name: codFiscale
          in: query
          required: false
          schema:
            type: string
        - name: iud
          in: query
          required: false
          schema:
            type: string
        - name: iuv
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DovutoOperatoreTo'
  /operatore/avvisi/{id}/pn:
    get:
      tags:
        - Avvisi
      operationId: downloadForOperatore_1
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
                format: binary
components:
  schemas:
    UtenteTo:
      type: object
      properties:
        userId:
          type: integer
          format: int64
        username:
          type: string
        codiceFiscale:
          type: string
        email:
          type: string
        emailNew:
          type: string
        emailSourceType:
          type: string
        nome:
          type: string
        cognome:
          type: string
        indirizzo:
          type: string
        civico:
          type: string
        cap:
          type: string
        comuneId:
          type: integer
          format: int64
        provinciaId:
          type: integer
          format: int64
        nazioneId:
          type: integer
          format: int64
        comune:
          type: string
        provincia:
          type: string
        nazione:
          type: string
        ruolo:
          type: string
        flgAssociato:
          type: boolean
        lastLogin:
          type: string
          format: date-time
        loginType:
          type: string
        statoNascita:
          type: string
        provinciaNascita:
          type: string
        comuneNascita:
          type: string
        dataNascita:
          type: string
        entiRoles:
          type: object
          additionalProperties:
            uniqueItems: true
            type: array
            items:
              type: string
        dtUltimaAbilitazione:
          type: string
          format: date-time
        dtUltimaDisabilitazione:
          type: string
          format: date-time
        emailValidationNeeded:
          type: boolean
    AnagraficaPagatore:
      type: object
      properties:
        tipoIdentificativoUnivoco:
          type: string
        codiceIdentificativoUnivoco:
          type: string
        anagrafica:
          type: string
        email:
          type: string
        indirizzo:
          type: string
        civico:
          type: string
        cap:
          type: string
        localita:
          type: string
        provincia:
          type: string
        nazione:
          type: string
        localitaId:
          type: integer
          format: int64
        provinciaId:
          type: integer
          format: int64
        nazioneId:
          type: integer
          format: int64
    CartItem:
      type: object
      properties:
        id:
          type: integer
          format: int64
        causale:
          type: string
        causaleVisualizzata:
          type: string
        bilancio:
          type: string
        importo:
          type: number
        codIpaEnte:
          type: string
        codTipoDovuto:
          type: string
        codStato:
          type: string
        intestatario:
          $ref: '#/components/schemas/AnagraficaPagatore'
        messaggioAvviso:
          type: string
        codIuv:
          type: string
        securityTokenAvviso:
          type: string
        versanteEmail:
          type: string
        mailValidationToken:
          type: string
        iud:
          type: string
        datiSpecificiRiscossione:
          type: string
        identificativoUnivocoFlusso:
          type: string
        bolloDigitale:
          $ref: '#/components/schemas/DatiMarcaBolloDigitale'
    DatiMarcaBolloDigitale:
      type: object
      properties:
        mygovDatiMarcaBolloDigitaleId:
          type: integer
          format: int64
        version:
          type: integer
          format: int32
        tipoBollo:
          type: string
        hashDocumento:
          type: string
        provinciaResidenza:
          type: string
    DovutoEntePrimarioTo:
      type: object
      properties:
        denominazioneBeneficiario:
          type: string
        codiceIdentificativoUnivoco:
          type: string
        ibanAddebito:
          type: string
        indirizzoBeneficiario:
          type: string
        civicoBeneficiario:
          type: string
        capBeneficiario:
          type: string
        nazioneBeneficiario:
          type: string
        provinciaBeneficiario:
          type: string
        localitaBeneficiario:
          type: string
        importo:
          type: string
    DovutoMultibeneficiarioTo:
      type: object
      properties:
        denominazioneBeneficiario:
          type: string
        codiceIdentificativoUnivoco:
          type: string
        ibanAddebito:
          type: string
        indirizzoBeneficiario:
          type: string
        civicoBeneficiario:
          type: string
        capBeneficiario:
          type: string
        nazioneBeneficiario:
          type: string
        provinciaBeneficiario:
          type: string
        localitaBeneficiario:
          type: string
        importoSecondario:
          type: string
        causaleMB:
          type: string
        datiSpecificiRiscossione:
          type: string
    CtDatiVersamentoDovutiEntiSecondari:
      required:
        - codiceFiscaleBeneficiario
        - datiSpecificiRiscossione
        - denominazioneBeneficiario
        - ibanAccreditoBeneficiario
        - importoSingoloVersamento
      type: object
      properties:
        codiceFiscaleBeneficiario:
          type: string
        denominazioneBeneficiario:
          type: string
        ibanAccreditoBeneficiario:
          type: string
        indirizzoBeneficiario:
          type: string
        civicoBeneficiario:
          type: string
        capBeneficiario:
          type: string
        localitaBeneficiario:
          type: string
        provinciaBeneficiario:
          type: string
        nazioneBeneficiario:
          type: string
        causaleVersamento:
          type: string
        datiSpecificiRiscossione:
          type: string
        importoSingoloVersamento:
          type: number
    ComuneTo:
      type: object
      properties:
        comuneId:
          type: integer
          format: int64
        comune:
          type: string
        provinciaId:
          type: integer
          format: int64
    DovutoElaboratoEntePrimarioTo:
      type: object
      properties:
        denominazioneBeneficiario:
          type: string
        codiceIdentificativoUnivoco:
          type: string
        ibanAddebito:
          type: string
        indirizzoBeneficiario:
          type: string
        civicoBeneficiario:
          type: string
        capBeneficiario:
          type: string
        nazioneBeneficiario:
          type: string
        provinciaBeneficiario:
          type: string
        localitaBeneficiario:
          type: string
        importo:
          type: string
    DovutoMultibeneficiarioElaboratoTo:
      type: object
      properties:
        denominazioneBeneficiario:
          type: string
        codiceIdentificativoUnivoco:
          type: string
        ibanAddebito:
          type: string
        indirizzoBeneficiario:
          type: string
        civicoBeneficiario:
          type: string
        capBeneficiario:
          type: string
        nazioneBeneficiario:
          type: string
        provinciaBeneficiario:
          type: string
        localitaBeneficiario:
          type: string
        importoSecondario:
          type: string
    DovutoOperatoreTo:
      type: object
      properties:
        id:
          type: integer
          format: int64
        codFiscale:
          type: string
        iud:
          type: string
        iuv:
          type: string
        causale:
          type: string
        causaleVisualizzata:
          type: string
        importo:
          type: string
        dataScadenza:
          type: string
          format: date
        stato:
          type: string
        codStato:
          type: string
        dataStato:
          type: string
          format: date-time
        hasAvviso:
          type: boolean
        hasRicevuta:
          type: boolean
        tipoDovuto:
          $ref: '#/components/schemas/EnteTipoDovutoTo'
        anagrafica:
          type: string
        tipoSoggetto:
          type: string
        flgAnagraficaAnonima:
          type: boolean
        hasCodFiscale:
          type: boolean
        email:
          type: string
        indirizzo:
          type: string
        numCiv:
          type: string
        cap:
          type: string
        nazione:
          $ref: '#/components/schemas/NazioneTo'
        prov:
          $ref: '#/components/schemas/ProvinciaTo'
        comune:
          $ref: '#/components/schemas/ComuneTo'
        flgGenerateIuv:
          type: boolean
        iuf:
          type: string
        dataInizioTransazione:
          type: string
          format: date-time
        identificativoTransazione:
          type: string
        intestatario:
          type: string
        pspScelto:
          type: string
        dovutoType:
          type: string
        invalidDesc:
          type: string
        flgMultibeneficiario:
          type: boolean
        entePrimarioDetail:
          $ref: '#/components/schemas/DovutoEntePrimarioTo'
        entePrimarioElaboratoDetail:
          $ref: '#/components/schemas/DovutoElaboratoEntePrimarioTo'
        dovutoMultibeneficiario:
          $ref: '#/components/schemas/DovutoMultibeneficiarioTo'
        dovutoMultibeneficiarioElaborato:
          $ref: '#/components/schemas/DovutoMultibeneficiarioElaboratoTo'
    EnteTipoDovutoTo:
      type: object
      properties:
        mygovEnteTipoDovutoId:
          type: integer
          format: int64
        mygovEnteId:
          type: integer
          format: int64
        codIpaEnte:
          type: string
        deNomeEnte:
          type: string
        thumbLogoEnte:
          type: string
        hashThumbLogoEnte:
          type: string
        codTipo:
          type: string
        deTipo:
          type: string
        deUrlPagamentoDovuto:
          type: string
        flgCfAnonimo:
          type: boolean
        flgScadenzaObbligatoria:
          type: boolean
        flgAttivo:
          type: boolean
        importo:
          type: string
        dtUltimaAbilitazione:
          type: string
          format: date-time
        dtUltimaDisabilitazione:
          type: string
          format: date-time
    NazioneTo:
      type: object
      properties:
        nazioneId:
          type: integer
          format: int64
        nomeNazione:
          type: string
        codiceIsoAlpha2:
          type: string
    ProvinciaTo:
      type: object
      properties:
        provinciaId:
          type: integer
          format: int64
        provincia:
          type: string
        sigla:
          type: string
    EnteRolesTo:
      type: object
      properties:
        mygovEnteId:
          type: integer
          format: int64
        codIpaEnte:
          type: string
        deNomeEnte:
          type: string
        emailAddress:
          type: string
        roles:
          uniqueItems: true
          type: array
          items:
            type: string
    EnteTo:
      type: object
      properties:
        mygovEnteId:
          type: integer
          format: int64
        codIpaEnte:
          type: string
        codiceFiscaleEnte:
          type: string
        deNomeEnte:
          type: string
        deLogoEnte:
          type: string
        thumbLogoEnte:
          type: string
        hashThumbLogoEnte:
          type: string
        deInformazioniEnte:
          type: string
    FileTo:
      type: object
      properties:
        identificativo:
          type: string
        path:
          type: string
        name:
          type: string
        dataProduzione:
          type: string
          format: date-time
        dataCreazione:
          type: string
          format: date-time
        dimensione:
          type: integer
          format: int64
        codFedUserId:
          type: string
        operatore:
          type: string
        showDownload:
          type: boolean
        securityToken:
          type: string
    FlussoImportTo:
      type: object
      properties:
        id:
          type: integer
          format: int64
        nomeFlusso:
          type: string
        dataCaricamento:
          type: string
          format: date
        operatore:
          type: string
        deStato:
          type: string
        codStato:
          type: string
        pdfGenerati:
          type: integer
          format: int64
        showDownload:
          type: boolean
        codErrore:
          type: string
        log:
          type: string
        numRigheTotali:
          type: integer
          format: int64
        numRigheImportateCorrettamente:
          type: integer
          format: int64
        path:
          type: string
        codFedUserId:
          type: string
        securityToken:
          type: string
    FlussoTo:
      type: object
      properties:
        id:
          type: integer
          format: int64
        nome:
          type: string
    EnteExtedendTo:
      type: object
      properties:
        deNomeEnte:
          type: string
        codiceFiscaleEnte:
          type: string
        ibanAccrerdito:
          type: string
        indirizzoBeneficiario:
          type: string
        civicoBeneficiario:
          type: string
        capBeneficiario:
          type: string
        nazioneBeneficiario:
          type: string
        provicniaBeneficiario:
          type: string
        localitaBeneficiario:
          type: string
        importoSecondario:
          type: string
        dtUltimaAbilitazione:
          type: string
          format: date-time
        dtUltimaDisabilitazione:
          type: string
          format: date-time
        emailValidationNeeded:
          type: boolean
        fullEntiRoles:
          type: array
          items:
            $ref: '#/components/schemas/EnteRolesTo'
  securitySchemes:
    myPay4Security:
      type: apiKey
      name: jwtToken
      in: cookie
      scheme: bearer
      bearerFormat: JWT
